[Unit]
Description=Goa example service
Documentation=https://github.com/luanngominh/goa-example
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/goaex
Restart=always
Environment=DB_CONNECTION={{ DB_CONNECTION }}

[Install]
WantedBy=multi-user.target